* {
  margin: 0;
}

html {
  background-color: #14213d;
}

.background-dark-blue {
  background-color: #14213d;
}

.background-light-grey {
  background-color: #e5e5e5;
}

.background-color-yellow {
  background-color: #fca311 !important;
  color: white !important;
}

ul {
  list-style: none;
  color: white;
  padding: 0 !important;
}

.karla-medium-italic {
  font-family: Karla, sans-serif;
  font-style: italic;
  font-weight: 900;
}

.color-white {
  color: white;
}

.inter {
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: 200;
  font-style: italic;
}

.test {
  border-bottom: solid rgba(255, 255, 255, 0.432);
  border-bottom-width: 0.1px;
  padding: 5px;
}

.search {
  width: 50% !important;
}

.temp {
  width: 50%;
}

.height {
  height: 100%;
}

.big {
  font-size: 200%;
  color: black;
}

.nav-buttons {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-decoration: none !important;
}

.hidden {
  display: none;
}

.color-black {
  color: black;
}
